'use strict';

(function(_doc, _win) {
  const REFRESH_INTERVAL = 1000;
  const md = new _win.markdownit({html: true, linkify: true})
                   .use(_win.markdownitAbbr)
                   .use(_win.markdownitDeflist)
                   .use(_win.markdownitFootnote)
                   .use(_win.markdownitSub)
                   .use(_win.markdownitSup)
                   .use(_win.markdownitCheckbox)
                   .use(_win.markdownitCjkBreaks);

  const defaultRenderer =
    md.renderer.rules.link_open ||
    function (tokens, idx, options, _env, self) {
      return self.renderToken(tokens, idx, options);
    };

  md.renderer.rules.link_open = function (tokens, idx, options, env, self) {
    const targetIndex = tokens[idx].attrIndex("target");
    if (targetIndex < 0) {
      if (!/^#/.test(tokens[idx].attrs[0][1])) {
        tokens[idx].attrPush(["target", "_blank"]);

        const relIndex = tokens[idx].attrIndex("rel");
        if (relIndex < 0) {
          tokens[idx].attrPush(["rel", "noopener"]);
        } else {
          tokens[idx].attrs[relIndex][1] = "noopener";
        }
      }
    }

    return defaultRenderer(tokens, idx, options, env, self);
  }

  // Override default 'fence' ruler for 'mermaid' support
  const original_fence = md.renderer.rules.fence;
  md.renderer.rules.fence = function fence(tokens, idx, options, env, slf) {
    const token = tokens[idx];
    const langName = token.info.trim().split(/\s+/g)[0];
    if (langName === 'mermaid') {
      return '<div class="mermaid">' + token.content + '</div>';
    }
    // Settings code-lang 
    const sep = new RegExp(getOptions().codeLanguageSeparator);
    const tokenSplit = token.info.trim().split(sep);
    const codeLangName = tokenSplit[0];
    let fileName = tokenSplit.slice(1).join(' ');
    switch (getOptions().showCodeLanguage) {
    case 0:
      break;

    case 2:
      if (fileName != "") {
        tokens[idx].attrPush(['code-lang', fileName]);
      }
      break;

    case 1:
    default:
      tokens[idx].attrPush(['code-lang', fileName == "" ? codeLangName : fileName]);
      break;
    }

    return original_fence(tokens, idx, options, env, slf);
  };

  function transform(filetype, content) {
    if(hasTargetFileType(filetype, ['mermaid', 'mmd'])) {
      content = '```mermaid\n'
              + content.replace(/</g, '&lt;')
                       .replace(/>/g, '&gt;')
              + '\n```';
      filetype = 'markdown';
    }

    if(hasTargetFileType(filetype, ['markdown', 'mkd'])) {
      content = content
        .replace(/^---\s*\n((?:[^\n]+\n)*)---\s*\n/, '```yaml\n$1```\n')
        .replace(/^\+\+\+\s*\n((?:[^\n]+\n)*)\-\-\-\s*\n/, '```toml\n$1```\n');
      if (typeof getOptions === 'function' && getOptions().hardLineBreak) {
        md.set({ breaks: true });
        md.disable('cjk_breaks');
      } else {
        md.set({ breaks: false });
        md.enable('cjk_breaks');
      }

      if (getOptions().katexInlineExp) {
        // Replace `$$` / `$` TeX math expression
        content = content.split(/\n/);
        for (let l = 0; l < content.length; l++) {
          if (/^((?:>\s*)*)\$\$\s*$/.test(content[l])) {
            const quoteLevel = RegExp.$1.replaceAll(/[^>]/g, '').length;
            let m = l + 1;
            for (; m < content.length; m++) {
              if (/^((?:>\s*)*)/.test(content[m]) && RegExp.$1.replaceAll(/[^>]/g, '').length < quoteLevel) {
                // Get out of the current quote.
                break;
              }
              if (/^((?:>\s*)*)\$\$\s*$/.test(content[m])) {
                content[l] = content[l].replace(/\$\$/, '<pre><code class="language-katex">');
                content[m] = content[m].replace(/\$\$/, '</code></pre>');
                break;
              }
            }
            l = m;
          } else {
            content[l] = content[l].replaceAll(/((?:^|[^\\])(?:\\\\)*)\\\$/g, '$1&#x24;');
            content[l] = content[l].replaceAll(/\$\$([^$]*?)\$\$/g, '<pre><code class="language-katex">$1</code></pre>');
            content[l] = content[l].replaceAll(/(?<!\$)\$([^$]*?)\$(?!\$)/g, (match, p1) =>
              `<code class="inlkatex">${
                p1
                  .replaceAll(/(?<=^|[^\\](?:\\\\)*)\*/g, '&#x2a;')
                  .replaceAll(/(?<=^|[^\\](?:\\\\)*)_/g, '&#x5f;')
                  .replaceAll(/(?<=^|[^\\](?:\\\\)*)\\/g, '&#x5c;')
              }</code>`
            );
          }
        }
        content = content.join('\n');
        let dom = document.createElement('div');
        dom.innerHTML = md.render(content);
        // Rollback the replacements in code syntax.
        dom.querySelectorAll('pre, code:not(.language-katex)').forEach(elem => {
          elem.innerHTML = elem.innerHTML
                            .replaceAll(/&amp;#x24;/g, '\\$$')
                            .replaceAll(/&lt;pre&gt;&lt;code class="language-katex"&gt;((?:.|\n)*?)&lt;\/code&gt;&lt;\/pre&gt;/g, '$$$$$1$$$$')
                            .replaceAll(/&lt;code class="inlkatex"&gt;(.*?)&lt;\/code&gt;/g, (match, p1) =>
                              `$${
                                p1
                                  .replaceAll(/&amp;#x2a;/g, '*')
                                  .replaceAll(/&amp;#x5f;/g, '_')
                                  .replaceAll(/&amp;#x5c;/g, '\\')
                              }$`
                            );
        });
        return dom.innerHTML;
      } else {
        return md.render(content);
      }
    } else if(hasTargetFileType(filetype, ['plantuml'])) {
      const lines = content.split("\n")
      const chunks = [];
      lines.forEach(function (line) {
        if (/^@start/.test(line)) {
          chunks.push(line);
        } else if (chunks.length !== 0) {
          chunks[chunks.length - 1] += "\n" + line;
        }
      });
      const plantumls = [];
      chunks.forEach(function (chunk) {
        plantumls.push("```plantuml\n" + chunk + "```\n");
      });
      return md.render(plantumls.join("\n"));
    } else if(hasTargetFileType(filetype, ['html'])) {
      return content;
    } else if(hasTargetFileType(filetype, ['rst'])) {
      // It has already been converted by rst2html.py
      return content
        .replace(/<!--\s*plantuml\n([\s\S]*?)-->/g, function(_all, c) {
          return '<div><code class="language-plantuml">\n' + c.replace("- ->", "--&#62;").replace('<- -', '&#60;--') + '\n</code></div>';
        });
    } else if(hasTargetFileType(filetype, ['textile'])) {
      return textile(content);
    } else if(hasTargetFileType(filetype, ['asciidoc'])) {
      return new Asciidoctor().convert(content, { attributes: { showtitle: true } });
    }
    return 'Sorry. It is a filetype(' + filetype + ') that is not support<br /><br />' + content;
  }

  function hasTargetFileType(filetype, targetList) {
    const ftlist = filetype.split('.');
    for(let i=0;i<ftlist.length; i++) {
      if(targetList.indexOf(ftlist[i]) > -1){
        return true;
      }
    }
    return false;
  }

  // NOTE: Experimental
  //   ここで動的にpageYOffsetを取得すると画像表示前の高さになってしまう
  //   そのため明示的にpageYOffsetを受け取るようにしている
  function autoScroll(id, pageYOffset) {
    const relaxed = 0.95;
    const obj = document.getElementById(id);
    if((_doc.documentElement.clientHeight + pageYOffset) / _doc.body.clientHeight > relaxed) {
      obj.scrollTop = obj.scrollHeight;
    } else {
      obj.scrollTop = pageYOffset;
    }
  }

  function style_header() {
    if (typeof getOptions === 'function') {
      const style = getOptions().showheader ? '' : 'none';
      _doc.getElementById('header').style.display = style;
    }
  }

  function loadPreview() {
    let needReload = false;
    // These functions are defined as the file generated dynamically.
    //   generator-file: preview/autoload/previm.vim
    //   generated-file: preview/js/previm-function.js
    if (typeof getFileName === 'function') {
      if (_doc.getElementById('markdown-file-name').innerHTML !== getFileName()) {
        _doc.getElementById('markdown-file-name').innerHTML = getFileName();
        needReload = true;
      }
    } else {
      needReload = true;
    }
    if (typeof getLastModified === 'function') {
      if (_doc.getElementById('last-modified').innerHTML !== getLastModified()) {
        _doc.getElementById('last-modified').innerHTML = getLastModified();
        needReload = true;
      }
    } else {
      needReload = true;
    }
    if (needReload && (typeof getContent === 'function') && (typeof getFileType === 'function')) {
      {{previm_init_libraries}}

      const beforePageYOffset = _win.pageYOffset;
      _doc.getElementById('preview').innerHTML = transform(getFileType(), getContent());

      {{previm_load_libraries}}

      loadPlantUML();

      // Settings code-lang
      if (getOptions().showCodeLanguage > 0) {
        Array.prototype.forEach.call(_doc.querySelectorAll('pre code'), function (item, index) {
          const fileName = item.getAttribute('code-lang');
          if (fileName) {
            const codeLang = _doc.createElement('div');
            codeLang.setAttribute('class','code-lang');
            codeLang.innerHTML = '<span class="bold">' + fileName + '</span>';
            item.parentNode.insertBefore(codeLang, item.parentNode.firstElementChild);
          }
        });
      }
      Array.prototype.forEach.call(_doc.querySelectorAll('pre code'), hljs.highlightElement);
      autoScroll('body', beforePageYOffset);
      style_header();
    }
  }

  const interval = _win.setInterval(function() {
    const script = _doc.createElement('script');

    script.type = 'text/javascript';
    script.src = 'js/previm-function.js?t=' + new Date().getTime();

    _addEventListener(script, 'error', function() {
      _win.clearInterval(interval);
      if (typeof getOptions === 'function' && getOptions().autoClose) {
        _win.open("about:blank","_self").close();
      }
    });
    _addEventListener(script, 'load', function() {
      loadPreview();
      _win.setTimeout(function() {
        script.parentNode.removeChild(script);
      }, 160);
    });

    _doc.getElementsByTagName('head')[0].appendChild(script);

  }, REFRESH_INTERVAL);

  function _addEventListener(target, type, listener) {
    if (target.addEventListener) {
      target.addEventListener(type, listener, false);
    } else if (target.attachEvent) {
      // for IE6 - IE8
      target.attachEvent('on' + type, function() { listener.apply(target, arguments); });
    } else {
      // do nothing
    }
  }

  loadPreview();
})(document, window);
